* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav {
    display: flex;
    gap: 40px;
    padding-top: 10px;
}

.nav-title {
    list-style: none;
    cursor: pointer;
    transition: color 0.5s ease;
}

.font {
    font-weight: 400;
    font-size: xx-large;
    padding-left: 200px;
    transition: color 0.5s ease;
}


.main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    padding: 0 500px 0 500px;
    font-size: medium;
    padding-top: 10px;
    padding: 0%
}

.main-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    gap: 150px;
    padding: 0 200px 0 200px;
    background-color: #f8f9fb;
}

.body-title {
    padding-top: 290px;
}

.greetings-flex {
    display: flex;
    justify-content: center;
    padding-top: 300px;


}

.border-tem {
    position: fixed;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #f8f9fb 0%, #f8f9fb 100%);
    transition: background 0.5s ease, color 0.5s ease;
}

.Welcome-body {
    padding: 0 200px 0 200px;
    display: flex;
    transition: color 0.5s ease;
    gap: 100px;
    padding-top: 100px;
}

.Welcome-title {
    padding-top: 100px;
}

.Read-More {
    border-radius: 50px;
    border: none;
    background-color: #a3c0be;
    color: white;
    font-size: medium;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

.Read-More1 {
    border-radius: 50px;
    border: none;
    background-color: #6c757e;
    color: white;
    font-size: medium;
    margin-top: 20px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
}

.Read-More1:hover {
    background-color: #353a40;
    transition: all;
    transition-duration: 500ms;
}

.Read-More:hover {
    background-color: black;
    transition: all;
    transition-duration: 500ms;
}

.List {
    display: flex;
    margin-top: 15px;
}

.About-Body {
    display: flex;
    gap: 100px;
    padding: 0 200px 0 200px;
}

.Main-About {
    padding-top: 200px;
}

.About-title {
    padding-top: 200px;
}

.Trainers {
    padding: 100px 0 100px 0;
    background-color: #a3c0be;
    display: block;
    text-align: center;
}

.Trainers-section {
    padding-top: 100px;
}

.Trainers>h1 {
    font-size: xx-large;
}

.Img-Column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 200px 0 200px;
    padding-top: 50px;
}

.img-training {
    width: 350px;
    height: 450px;
}

.Pricing-body {
    padding-top: 100px;
    display: block;
    text-align: center;
}

.Pricing-section {
    padding-top: 100px;
}

.Pricing-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 200px 0 200px;
    padding-top: 50px;
}

.Frequently-Body {
    padding: 100px 0 100px 0;
    display: block;
    text-align: center;
}


.Frequently-section {
    padding-top: 100px;
}

.Frequently-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 200px 0 200px;
    padding-top: 50px;
}

.Customers-section {
    padding: 100px 0 100px 0;
    display: block;
    text-align: center;
}

.Gallery-section {
    padding-top: 100px;
    display: block;
    text-align: center;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px 0 10px;
}

.grid-gallery img {
    width: 373px;

}

.Blog-section {
    padding-top: 100px;
    display: block;
    text-align: center;
}

.img-size{
    width: 200px;
}

.Blog-body{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 100px 0 100px;
}