* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.nav {
    display: flex;
    gap: 40px;
    padding-top: 7px;
}

.nav-title {
    list-style: none;
}

.font {
    font-weight: 400;
    font-size: x-large;
}


.main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 565px;
    padding: 0 200px 0 200px;
    font-size: medium;
    
}

section{
    border: 1px solid black;
}
.span-dot{
    font-size: medium;
    padding-top: 10px;
    font-weight: 500;
}